*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

.nav-bar{
   
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: black ;
 color: red;
 padding: 2rem 3rem;
}

.nav-links{
    display: flex;
    gap: 6rem;
}

.nav-links> a {
 
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.hero{

background-color: black;
min-height:80vh;

}

.home-desc{

display: flex;
justify-content: space-between;
width: 80%;
margin: auto;
padding-top: 12rem;
color: white;
}

.home-desc>img
{
    width:400px ;
    height:400px ;
}

.home-content
{
    width: 50%;

}

.h1{
    text-align: center;
}

.second-h1{
    text-align: center;
}